body{
	background-color: #fb4d3d;
	color: #ffffff;
	text-align: center;
	font-size: 1.5em;
}

table {
  font-family: Verdana, sans-serif;
  font-size: 4em;
  width: 400px;
 	height: 400px;
}

td{
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 15px;
}