table {
  font-family: Verdana, sans-serif;
  font-size: 5em;
  border-collapse: collapse;
  width: 30%;
}

td{
    border: 2px solid #000;
    text-align: center;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}